<template>
  <q-page class="flex">
    <q-calendar
      ref="calendar"
      v-model="selectedDate"
      view="day"
      locale="en-us"
      :interval-count="intervalCount"
      :interval-start="intervalStart"
      :interval-height="intervalHeight"
    >
      <template #day-container="{ /* timestamp */ }">
        <div class="day-view-current-time-indicator" :style="currentTimeStyle" />
        <div class="day-view-current-time-line" :style="currentTimeStyle" />
      </template>
      <template #day-body="{ timestamp, timeStartPos, timeDurationHeight }">
      <template v-for="(event, index) in $store.getters['day/getEventsTodo']">
        <q-badge
          v-if="event.time"
          :key="index"
          class="my-event justify-center ellipsis shadow-1"
          @click.stop.prevent="selectTask(event)"
          :class="badgeClasses(event, 'body')"
          :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
        >
          <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon><span class="ellipsis">{{ event.title }}</span>
        </q-badge>
      </template>
    </template>
  </q-calendar>
  <q-expansion-item
    label="Past"
    style="width:100%"
  >
    <q-calendar
      v-model="selectedDate"
      view="day"
      locale="en-us"
      interval-height="80"
    >
      <template #day-body="{ timestamp, timeStartPos, timeDurationHeight }">
      <template v-for="(event, index) in $store.getters['day/getEventsDone']">
        <q-badge
          v-if="event.time"
          :key="index"
          class="my-event justify-center ellipsis shadow-1"
          :class="badgeClasses(event, 'body')"
          :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
        >
          <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon><span class="ellipsis">{{ event.title }}</span>
        </q-badge>
      </template>
    </template>
  </q-calendar>
  </q-expansion-item>
  <q-dialog  v-if="$q.screen.lt.md" v-model="taskInfoOpen">
    <TaskInfo
      :task="$store.getters['day/getActiveTask']">
    </TaskInfo>
  </q-dialog>>

  </q-page>
</template>

<script>
import QCalendar from '@quasar/quasar-ui-qcalendar'
import TaskInfo from 'components/TaskInfo.vue'

const CURRENT_DAY = new Date()

function getCurrentDay (day) {
  const newDay = new Date(CURRENT_DAY)
  // newDay.setDate(day)
  const tm = QCalendar.parseDate(newDay)
  return tm.date
}

const reRGBA = /^\s*rgb(a)?\s*\((\s*(\d+)\s*,\s*?){2}(\d+)\s*,?\s*([01]?\.?\d*?)?\s*\)\s*$/

function textToRgb (color) {
  if (typeof color !== 'string') {
    throw new TypeError('Expected a string')
  }

  const m = reRGBA.exec(color)
  if (m) {
    const rgb = {
      r: Math.min(255, parseInt(m[2], 10)),
      g: Math.min(255, parseInt(m[3], 10)),
      b: Math.min(255, parseInt(m[4], 10))
    }
    if (m[1]) {
      rgb.a = Math.min(1, parseFloat(m[5]))
    }
    return rgb
  }
  return hexToRgb(color)
}

function hexToRgb (hex) {
  if (typeof hex !== 'string') {
    throw new TypeError('Expected a string')
  }

  hex = hex.replace(/^#/, '')

  if (hex.length === 3) {
    hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2]
  } else if (hex.length === 4) {
    hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2] + hex[3] + hex[3]
  }

  const num = parseInt(hex, 16)

  return hex.length > 6
    ? { r: num >> 24 & 255, g: num >> 16 & 255, b: num >> 8 & 255, a: Math.round((num & 255) / 2.55) }
    : { r: num >> 16, g: num >> 8 & 255, b: num & 255 }
}

function luminosity (color) {
  if (typeof color !== 'string' && (!color || color.r === undefined)) {
    throw new TypeError('Expected a string or a {r, g, b} object as color')
  }

  const
    rgb = typeof color === 'string' ? textToRgb(color) : color,
    r = rgb.r / 255,
    g = rgb.g / 255,
    b = rgb.b / 255,
    R = r <= 0.03928 ? r / 12.92 : Math.pow((r + 0.055) / 1.055, 2.4),
    G = g <= 0.03928 ? g / 12.92 : Math.pow((g + 0.055) / 1.055, 2.4),
    B = b <= 0.03928 ? b / 12.92 : Math.pow((b + 0.055) / 1.055, 2.4)
  return 0.2126 * R + 0.7152 * G + 0.0722 * B
}

export default {
  components: { TaskInfo },
  data () {
    return {
      selectedDate: getCurrentDay(0),
      currentDate: undefined,
      currentTime: undefined,
      intervalId: null,
      currentTimeStartPos: 0,
      intervalStart: 0,
      intervalHeight: 50,
      taskInfoOpen: false
    }
  },
  async mounted () {
    let org = ''
    await this.$axios
      .get('day.org')
      .then(response => (org = response.data))

    this.$store.dispatch('day/parseOrg', org)

    this.intervalStart = this.$store.state.day.earliest.getHours()

    this.adjustCurrentTime()
    // now, adjust the time every minute
    this.intervalId = setInterval(() => {
      this.adjustCurrentTime()
    }, 60000)
  },
  beforeDestroy () {
    clearInterval(this.intervalId)
  },
  computed: {
    currentTimeStyle () {
      return {
        top: (this.currentTimeStartPos - this.intervalStart * this.intervalHeight) + 'px'
      }
    },
    intervalCount () {
      return 24 - this.intervalStart
    }
  },
  methods: {
    isCssColor (color) {
      return !!color && !!color.match(/^(#|(rgb|hsl)a?\()/)
    },

    badgeClasses (event, type) {
      const isHeader = type === 'header'
      return {
        task: true,
        'active-task': event.active,
        'full-width': !isHeader && (!event.side || event.side === 'full'),
        'left-side': !isHeader && event.side === 'left',
        'right-side': !isHeader && event.side === 'right'
      }
    },

    badgeStyles (event, type, timeStartPos, timeDurationHeight) {
      const s = {}
      if (this.isCssColor(event.bgcolor)) {
        s['background-color'] = event.bgcolor
        s.color = luminosity(event.bgcolor) > 0.5 ? 'black' : 'white'
      }
      if (timeStartPos) {
        s.top = timeStartPos(event.time) + 'px'
      }
      if (timeDurationHeight) {
        s.height = timeDurationHeight(event.duration) + 'px'
      }
      s['align-items'] = 'flex-start'
      return s
    },
    selectTask (task) {
      this.$store.commit('day/setActiveTask', task)
      this.taskInfoOpen = true
    },
    adjustCurrentTime () {
      const now = new Date()
      const p = QCalendar.parseDate(now)
      this.currentDate = p.date
      this.currentTime = p.time
      this.currentTimeStartPos = this.$refs.calendar.timeStartPos(this.currentTime)
    }
  }
}
</script>
<style lang="scss">
.calendar-container {
  position: relative;
}
.my-event {
  width: 100%;
  position: absolute;
  font-size: 12px;
}
.full-width {
  left: 0;
  width: 100%;
}
.task {
  color: $grey-9;
  background-color: $blue-3;
}
.active-task {
  border: 1px solid $blue-6;
  background-color: $blue-5;
}
.day-view-current-time-indicator {
  position: absolute;
  left: 45px;
  height: 10px;
  width: 10px;
  margin-top: -4px;
  background-color: rgba(255, 0, 255, .5);
  border-radius: 50%;
}
.day-view-current-time-line {
  position: absolute;
  left: 55px;
  border-top: rgba(255, 0, 255, .8) 2px solid;
  width: calc(100% - 50px - 5px);
}
</style>
