<template>
<q-card>
  <q-card-section>
    <div class="text-h6">{{ task.title }}</div>
  </q-card-section>

  <q-card-section class="q-pt-none" v-if="isCurrentItem">
    {{ minutesUntilEnd }} minutes left
  </q-card-section>
  <q-card-section class="q-pt-none" v-else>
    {{ minutesUntilStart }} minutes until start
  </q-card-section>

  <q-card-section class="q-pt-none">
    Duration: {{ task.duration }} minutes
  </q-card-section>

  <q-card-section class="q-pt-none">
    {{ task.date.toLocaleTimeString() }} --
    {{ task.end.toLocaleTimeString() }}
  </q-card-section>
</q-card>
</template>

<script>
import { date } from 'quasar'
export default {
  name: 'TaskInfo',
  props: ['task'],
  computed: {
    isCurrentItem () {
      const currentTime = new Date()
      return date.isBetweenDates(currentTime, this.task.date, this.task.end)
    },
    minutesUntilStart () {
      const currentTime = new Date()
      return date.getDateDiff(this.task.date, currentTime, 'minutes')
    },
    minutesUntilEnd () {
      const currentTime = new Date()
      return date.getDateDiff(this.task.end, currentTime, 'minutes')
    }
  }
}
</script>
