<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          org day plan
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-card>
        <q-card-section>
          <div class="text-h6">Current time: {{ new Date().toLocaleTimeString() }}</div>
        </q-card-section>
      </q-card>
      <TaskInfo
        v-if="$q.screen.gt.sm"
        :task="$store.getters['day/getActiveTask']">
      </TaskInfo>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import TaskInfo from 'components/TaskInfo.vue'

export default {
  name: 'MainLayout',
  components: { TaskInfo },
  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
